@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./img/background-img.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

section {
    min-width: 380px;
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box i {
    color: #fff;
}

.input-box label {
    position: absolute;
    left: 2%;
    transform: translateY(-80%);
    color: #fff;
    font-size: 1rem;
    top: 10px;
    transition: .6s;
}

.forget {
    margin: 35px 0;
    font-size: 0.87rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.forget label {
    display: flex;
    align-items: center; 
}

.forget input[type="checkbox"] {
    margin-right: 8px;
}

.forget a {
    text-decoration: none;
    color: #fff;
    margin-left: auto; 
}

.forget p {
    color: #fff;
}

.forget a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 35px 0 5px;
    outline: none;

}



input:focus ~ label {
    top: -5px;
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #131313;
    font-weight: 600;
    transition: .6s;
}

button:hover {
    background-color: #1c1c1c;
    color: #fff;
    color: #ffffff60;
}

.register-link {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0px 10px;
}

.register-link p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

#message {
    background-color: #fff;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

@keyframes snowfall {
    0% {
        transform: translateY(-100vh) scale(0.8);
        opacity: 6;
    }
    100% {
        transform: translateY(100vh) scale(0.5);
        opacity: 2;
    }
}

span {
    position: absolute; 
    will-change: transform, opacity;
}